* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", Arial, sans-serif;
}

body {
  overflow-y: scroll;
  font-size: 16px;
  font-weight: 400;
}

nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3019607843);
  backdrop-filter: blur(15px);
}
nav .cont-logo {
  width: 300px;
  margin-left: 80px;
  display: flex;
  justify-content: start;
}
nav .cont-logo img {
  width: 160px;
}
nav .cont-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .cont-menu .menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 30px;
}
nav .cont-menu .menu a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}
nav .cont-menu .menu a:hover {
  color: #41D9D9;
}
nav .cont-menu .menu a.active {
  color: #F205B3;
}
nav .cont-carrito {
  width: 300px;
  margin-right: 80px;
  display: flex;
  justify-content: end;
}
nav .cont-carrito a {
  position: relative;
  text-decoration: none;
}
nav .cont-carrito a .bi {
  font-size: 50px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .cont-carrito a .contador-carrito {
  position: absolute;
  top: 12px;
  right: 14px;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 900;
}
nav .cont-carrito .menu-burguer {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
nav .cont-carrito .line {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 3.5px 0;
  border-radius: 5px;
}

.cont-principal {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 50px 0;
}
.cont-principal .cont-producto {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cont-principal .cont-producto .cont-img {
  max-width: 600px;
}
.cont-principal .cont-producto .cont-img img {
  width: 500px;
}
.cont-principal .cont-producto .cont-texto {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-principal .cont-producto .cont-texto h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-wrap: balance;
}
.cont-principal .cont-producto .cont-texto p {
  font-size: 20px;
  text-align: center;
  text-wrap: balance;
}
.cont-principal .cont-producto .cont-texto p:nth-of-type(1) {
  font-weight: 900;
  color: #F205B3;
  text-transform: uppercase;
}
.cont-principal .cont-producto .cont-texto p:nth-of-type(2) {
  font-weight: 700;
  color: #000000;
}
.cont-principal .cont-producto .cont-texto p:nth-of-type(3) {
  font-weight: 300;
  color: #000000;
}
.cont-principal .cont-producto .cont-texto a {
  border: none;
  border-radius: 10px;
  background-color: #41D9D9;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
.cont-principal .cont-producto .cont-texto a:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.cont-principal .cont-producto .cont-texto a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.cont-ofertas {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-ofertas .cont-prod-oferta {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.cont-ofertas .cont-prod-oferta .cont-prod-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  width: 500px;
  height: 300px;
  background-color: #f1f1f1;
  border-radius: 20px;
}
.cont-ofertas .cont-prod-oferta .cont-prod-img img {
  height: 230px;
  object-fit: cover;
}
.cont-ofertas .cont-prod-oferta .cont-prod-img div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-ofertas .cont-prod-oferta .cont-prod-img div h2 {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
.cont-ofertas .cont-prod-oferta .cont-prod-img div a {
  border: none;
  border-radius: 10px;
  background-color: #41D9D9;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
.cont-ofertas .cont-prod-oferta .cont-prod-img div a:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.cont-ofertas .cont-prod-oferta .cont-prod-img div a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.cont-productos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-productos .cont-productos-card {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 100px;
  gap: 30px;
}
.cont-productos .productos-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
}
.cont-productos .productos-card img {
  height: 400px;
  width: 300px;
  object-fit: contain;
}
.cont-productos .productos-card .productos-card-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.cont-productos .productos-card .productos-card-texto h2 {
  width: 300px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  text-wrap: balance;
}
.cont-productos .productos-card .productos-card-texto p {
  width: 300px;
  text-align: center;
  margin-top: auto;
}
.cont-productos .productos-card .productos-card-texto button {
  border: none;
  border-radius: 10px;
  background-color: #41D9D9;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
.cont-productos .productos-card .productos-card-texto button:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.cont-productos .productos-card .productos-card-texto button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.cont-productos .productos-card .productos-card-btn {
  margin-top: auto;
}
.cont-productos .productos-card .productos-card-btn button {
  border: none;
  border-radius: 10px;
  background-color: #41D9D9;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
.cont-productos .productos-card .productos-card-btn button:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.cont-productos .productos-card .productos-card-btn button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.contenedor-construccion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 100px;
  font-weight: 900;
}

.modal-carrito {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5647058824);
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.modal-carrito .cont-carrito {
  background-color: #ffffff;
  padding: 50px;
  border-radius: 20px;
  width: 900px;
  max-height: 800px;
  overflow-y: auto;
}
.modal-carrito .cont-carrito .cont-cerrar-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-carrito .cont-carrito .cont-cerrar-carrito span {
  cursor: pointer;
  font-size: 45px;
  color: #F205B3;
  padding-bottom: 4px;
}
.modal-carrito .cont-carrito .cont-cerrar-carrito h2 {
  font-weight: 700;
}
.modal-carrito .cont-carrito .tabla-carrito {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}
.modal-carrito .cont-carrito .tabla-carrito thead tr {
  background-color: #f1f1f1;
  border-bottom: 2px solid #41D9D9;
}
.modal-carrito .cont-carrito .tabla-carrito thead tr th {
  padding: 10px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
}
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr {
  text-align: center;
}
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr td {
  padding: 10px 0;
}
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr td img {
  width: 35px;
}
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr .contenedor-botones .quitar-cantidad,
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr .contenedor-botones .agregar-cantidad {
  border: none;
  border-radius: 7px;
  background-color: #41D9D9;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr .contenedor-botones .quitar-cantidad:hover,
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr .contenedor-botones .agregar-cantidad:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr .contenedor-botones .quitar-cantidad,
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr .contenedor-botones .agregar-cantidad {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr .contenedor-botones .cantidad-input {
  width: 50px;
  height: 36px;
  border-radius: 7px;
  border: 2px solid #41D9D9;
  font-weight: 700;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr .contenedor-botones .eliminar-producto {
  border: none;
  border-radius: 7px;
  background-color: #41D9D9;
  padding: 5px 16px;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr .contenedor-botones .eliminar-producto:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.modal-carrito .cont-carrito .tabla-carrito .items-carrito tr .contenedor-botones .eliminar-producto {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.modal-carrito .cont-carrito p {
  text-align: end;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.modal-carrito .cont-carrito button {
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 7px;
  background-color: #41D9D9;
  padding: 5px 16px;
  transition: all 0.3s ease-in-out;
}
.modal-carrito .cont-carrito .boton-continuar {
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 7px;
  background-color: #41D9D9;
  padding: 5px 16px;
  transition: all 0.3s ease-in-out;
  float: right;
  margin-top: 10px;
}

.modal-compra {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5647058824);
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
}
.modal-compra .cont-compra {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 500px;
}
.modal-compra .cont-compra h2 {
  font-weight: 700;
  margin-bottom: 15px;
  text-wrap: balance;
}
.modal-compra .cont-compra p {
  text-wrap: balance;
}
.modal-compra .cont-compra button {
  border: none;
  border-radius: 10px;
  background-color: #41D9D9;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
.modal-compra .cont-compra button:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.modal-compra .cont-compra button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.notificacion {
  border-radius: 20px;
}
.notificacion .icono-sweet {
  font-size: 10px;
}

.modal-resume {
  width: 900px;
  max-height: 800px;
  padding: 30px;
  color: #000000;
  border-radius: 20px;
  overflow-y: auto;
}
.modal-resume .titulo {
  font-size: 32px;
  font-weight: 700;
  text-align: start;
  margin-bottom: 22px;
}
.modal-resume .linea {
  border-bottom: 3px solid #41D9D9;
  margin-bottom: 20px;
}
.modal-resume .resumen {
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.modal-resume .resumen span {
  flex: 1;
  text-align: center;
}
.modal-resume p {
  margin-top: 50px;
  text-align: end;
  font-weight: 700;
}
.modal-resume .boton-confirmar {
  border: none;
  border-radius: 10px;
  background-color: #41D9D9;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
.modal-resume .boton-confirmar:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.modal-resume .boton-confirmar {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.modal-resume .boton-cancelar {
  border: none;
  border-radius: 10px;
  background-color: #ff0000;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
.modal-resume .boton-cancelar:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.modal-resume .boton-cancelar {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.modal-formulario-envio {
  width: 900px;
  height: 900px;
  padding: 30px;
  color: #41D9D9;
  border-radius: 20px;
  background-color: #ffffff;
}
.modal-formulario-envio .titulo-formulario-envio {
  color: #F205B3;
}
.modal-formulario-envio .formulario-envio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-formulario-envio .formulario-envio h3 {
  font-weight: 700;
  margin-bottom: 40px;
}
.modal-formulario-envio .formulario-envio .formulario-compra {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario {
  width: 400px;
}
.modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario .campo-entrada {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #41D9D9;
}
.modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario .campo-entrada i {
  font-size: 24px;
  margin: 0 10px;
}
.modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario .campo-entrada input {
  width: 400px;
  height: 38px;
  margin-right: 10px;
  padding: 0 10px;
  border: none;
  outline: none;
  color: #000000;
  background-color: transparent;
}
.modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario .campo-entrada input::placeholder {
  color: #41D9D9;
  font-size: 300;
}
.modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario .campo-entrada input:autofill, .modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario .campo-entrada input:autofill:hover, .modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario .campo-entrada input:autofill:focus {
  background-color: transparent;
  color: inherit;
  border: none;
  transition: background-color 5000s ease-in-out 0s;
}
.modal-formulario-envio .boton-confirmar {
  border: none;
  border-radius: 10px;
  background-color: #41D9D9;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
.modal-formulario-envio .boton-confirmar:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.modal-formulario-envio .boton-confirmar {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.modal-formulario-envio .boton-cancelar {
  border: none;
  border-radius: 10px;
  background-color: #ff0000;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
.modal-formulario-envio .boton-cancelar:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.modal-formulario-envio .boton-cancelar {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.modal-compra-finalizada {
  border-radius: 20px;
}
.modal-compra-finalizada .icono-sweet {
  font-size: 10px;
}

.modal-carrito-vacio {
  border-radius: 20px;
}
.modal-carrito-vacio .icono-sweet {
  font-size: 10px;
}
.modal-carrito-vacio .boton-ok {
  border: none;
  border-radius: 10px;
  background-color: #41D9D9;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
.modal-carrito-vacio .boton-ok:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.modal-carrito-vacio .boton-ok {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.cont-footer {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.cont-footer .cont-links {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 14px;
}
.cont-footer .cont-links .cont-paginas ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cont-footer .cont-links .cont-paginas ul li {
  margin-bottom: 10px;
}
.cont-footer .cont-links .cont-paginas ul li:nth-child(4) {
  margin: 0;
}
.cont-footer .cont-links .cont-paginas ul li a {
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
}
.cont-footer .cont-links .cont-copy {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.cont-footer .cont-links .cont-copy p {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.cont-footer .cont-links .cont-copy p a {
  text-decoration: none;
  color: #F205B3;
}
.cont-footer .cont-links .cont-copy p a:hover {
  color: #41D9D9;
}
.cont-footer .cont-links .cont-copy p a.active {
  color: #F205B3;
}
.cont-footer .cont-links .cont-copy .formulario-noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont-footer .cont-links .cont-copy .formulario-noticias .cont-entrada {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cont-footer .cont-links .cont-copy .formulario-noticias i {
  font-size: 40px;
  color: #ffffff;
}
.cont-footer .cont-links .cont-copy .formulario-noticias input {
  width: 400px;
  height: 34px;
  border-radius: 7px;
  border: none;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
}
.cont-footer .cont-links .cont-copy .formulario-noticias input::placeholder {
  color: #d6d6d6;
  font-size: 300;
}
.cont-footer .cont-links .cont-copy .formulario-noticias button {
  border: none;
  border-radius: 7px;
  padding: 4px 6px;
  background-color: #41D9D9;
  transition: all 0.3s ease-in-out;
}
.cont-footer .cont-links .cont-copy .formulario-noticias button:hover {
  transform: scale(1.01);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3019607843));
}
.cont-footer .cont-links .cont-copy .formulario-noticias button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
.cont-footer .cont-links .cont-media {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.cont-footer .cont-links .cont-media a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1400px) {
  nav .cont-logo {
    width: 100px;
  }
  nav .cont-logo img {
    width: 100%;
  }
  nav .cont-carrito {
    width: 100px;
  }
  nav .cont-carrito a .bi {
    font-size: 40px;
  }
  nav .cont-carrito a .contador-carrito {
    top: 8px;
    right: 10px;
  }
  .cont-principal .cont-producto {
    max-width: 900px;
  }
  .cont-principal .cont-producto .cont-img {
    max-width: 450px;
  }
  .cont-principal .cont-producto .cont-img img {
    width: 100%;
    height: 400px;
  }
  .cont-principal .cont-producto .cont-texto {
    max-width: 450px;
  }
  .cont-principal .cont-producto .cont-texto h1 {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .cont-principal .cont-producto .cont-texto p {
    font-size: 16px;
  }
  /* Ofertas */
  .cont-ofertas {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .cont-ofertas .cont-prod-oferta {
    gap: 30px;
  }
  .cont-ofertas .cont-prod-oferta .cont-prod-img {
    width: 350px;
    height: 200px;
    padding: 0 30px;
  }
  .cont-ofertas .cont-prod-oferta .cont-prod-img img {
    height: 150px;
  }
  .cont-ofertas .cont-prod-oferta .cont-prod-img div h2 {
    font-size: 16px;
    font-weight: 900;
  }
  /* Productos */
  .cont-productos .cont-productos-card {
    width: 900px;
  }
  .cont-productos .cont-productos-card .productos-card {
    padding: 15px;
    margin-bottom: 10px;
  }
  .cont-productos .cont-productos-card .productos-card img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
  .cont-productos .cont-productos-card .productos-card .productos-card-texto h2 {
    font-size: 16px;
    width: 230px;
  }
  .cont-productos .cont-productos-card .productos-card .productos-card-texto p {
    width: 250px;
  }
  /* Footer */
  .cont-footer .cont-links {
    width: 900px;
  }
  .cont-footer .cont-links .cont-copy {
    width: 550px;
  }
  .cont-footer .cont-links .cont-copy .formulario-noticias input {
    width: 350px;
  }
  /* Modales */
  .modal-carrito .cont-carrito {
    margin-top: 95px;
    padding: 20px;
    width: 800px;
    max-height: 400px;
  }
  .modal-carrito .cont-carrito .cont-cerrar-carrito h2 {
    font-size: 20px;
  }
  .modal-resume {
    margin-top: 95px;
    width: 800px;
    padding: 20px;
    max-height: 400px;
  }
  .modal-resume .linea {
    margin-bottom: 10px;
  }
  .modal-resume .resumen {
    margin-bottom: 10px;
  }
  .modal-resume p {
    margin-top: 10px;
  }
  .modal-formulario-envio {
    width: 800px;
    height: 500px;
    padding: 20px;
  }
  .modal-formulario-envio .titulo-formulario-envio {
    font-size: 20px;
  }
  .modal-formulario-envio .formulario-envio h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .modal-formulario-envio .formulario-envio .formulario-compra {
    width: 700px;
    gap: 15px;
  }
  .modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario {
    width: 400px;
  }
  .modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario .campo-entrada {
    padding: 0;
  }
  .modal-formulario-envio .formulario-envio .formulario-compra .campo-formulario .campo-entrada input {
    height: 32px;
  }
  .modal-formulario-envio .boton-confirmar,
  .modal-formulario-envio .boton-cancelar {
    margin-top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
