.modal-carrito {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;

  .cont-carrito {
    background-color: $color-blanco;
    padding: 20px;
    border-radius: $radius-l;
    width: 500px;
    max-height: 600px;
    overflow-y: auto;

    .cont-cerrar-carrito {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        cursor: pointer;
        font-size: 45px;
        color: $color-rosado;
        padding-bottom: 4px;
      }

      h2 {
        font-weight: $bold;
      }
    }

    ul {
      margin-top: 20px;
      list-style: none;
      padding: 0;

      li {
        padding: 10px 0;
        border-radius: $radius-m;
      }
    }

    p {
      font-weight: $extra-bold;
    }

    button {
      margin-top: 40px;
      @include btn-mas-info;
    }
  }
}

.modal-compra {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;

  .cont-compra {
    background-color: $color-blanco;
    padding: 20px;
    border-radius: $radius-l;
    text-align: center;
    width: 500px;

    h2 {
      font-weight: $bold;
      margin-bottom: 15px;
      text-wrap: balance
    }

    p {
      text-wrap: balance;
    }

    button {
      @include btn-mas-info;
    }
  }
}

