.modal-carrito {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;
  font-size: 16px;

  .cont-carrito {
    background-color: $color-blanco;
    padding: 50px;
    border-radius: $radius-xl;
    width: 900px;
    max-height: 800px;
    overflow-y: auto;

    .cont-cerrar-carrito {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        cursor: pointer;
        font-size: 45px;
        color: $color-rosado;
        padding-bottom: 4px;
      }

      h2 {
        font-weight: $bold;
      }
    }

    .tabla-carrito {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 50px;

      thead tr {
        background-color: $color-fondo;
        border-bottom: 2px solid $color-calipso;

        th {
          padding: 10px;
          text-align: center;
          font-weight: $bold;
          text-transform: capitalize;
        }
      }

      .items-carrito {
        tr {
          text-align: center;

          td {
            padding: 10px 0;

            img {
              width: 35px;
            }
          }

          .contenedor-botones {

            .quitar-cantidad,
            .agregar-cantidad {
              border: none;
              border-radius: $radius-m;
              background-color: $color-calipso;
              width: 36px;
              height: 36px;
              padding: 0;
              margin: 0;
              transition: all 0.3s ease-in-out;

              &:hover {
                transform: scale(1.03);
                filter: drop-shadow(0px 0px 5px #0000004d);
              }

              & {
                text-decoration: none;
                font-size: $normal;
                font-weight: $bold;
                color: $color-negro;
              }
            }

            .cantidad-input {
              width: 50px;
              height: 36px;
              border-radius: $radius-m;
              border: 2px solid $color-calipso;
              font-weight: $bold;
              text-align: center;
              margin-left: 5px;
              margin-right: 5px;
            }

            .eliminar-producto {
              border: none;
              border-radius: $radius-m;
              background-color: $color-calipso;
              padding: 5px 16px;
              transition: all 0.3s ease-in-out;
              margin-left: 10px;

              &:hover {
                transform: scale(1.03);
                filter: drop-shadow(0px 0px 5px #0000004d);
              }

              & {
                text-decoration: none;
                font-size: $normal;
                font-weight: $bold;
                color: $color-negro;
              }
            }
          }
        }
      }
    }

    p {
      text-align: end;
      font-size: $normal;
      font-weight: $bold;
      padding: 0;
      margin: 0;
    }

    button {
      font-size: $grande;
      font-weight: $bold;
      border: none;
      border-radius: $radius-m;
      background-color: $color-calipso;
      padding: 5px 16px;
      transition: all 0.3s ease-in-out;
    }

    .boton-continuar {
      font-size: $grande;
      font-weight: $bold;
      border: none;
      border-radius: $radius-m;
      background-color: $color-calipso;
      padding: 5px 16px;
      transition: all 0.3s ease-in-out;
      float: right;
      margin-top: 10px;
    }
  }
}

.modal-compra {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  backdrop-filter: blur(15px);
  justify-content: center;
  align-items: center;

  .cont-compra {
    background-color: $color-blanco;
    padding: 20px;
    border-radius: $radius-xl;
    text-align: center;
    width: 500px;

    h2 {
      font-weight: $bold;
      margin-bottom: 15px;
      text-wrap: balance
    }

    p {
      text-wrap: balance;
    }

    button {
      @include btn-mas-info;
    }
  }
}

.notificacion {
  border-radius: $radius-xl;

  .icono-sweet {
    font-size: 10px;
  }
}

.modal-resume {
  width: 900px;
  max-height: 800px;
  padding: 30px;
  color: $color-negro;
  border-radius: $radius-xl;
  overflow-y: auto;

  .titulo {
    font-size: 32px;
    font-weight: $bold;
    text-align: start;
    margin-bottom: 22px;
  }

  .linea {
    border-bottom: 3px solid $color-calipso;
    margin-bottom: 20px;
  }

  .resumen {
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    overflow-y: auto;

    span {
      flex: 1;
      text-align: center;
    }
  }

  p {
    margin-top: 50px;
    text-align: end;
    font-weight: $bold;
  }

  .boton-confirmar {
    @include btn-link;
  }

  .boton-cancelar {
    @include btn-cancelar;
  }
}

.modal-formulario-envio {
  width: 900px;
  height: 900px;
  padding: 30px;
  color: $color-calipso;
  border-radius: $radius-xl;
  background-color: $color-blanco;

  .titulo-formulario-envio {
    color: $color-rosado;
  }

  .formulario-envio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-weight: $bold;
      margin-bottom: 40px;
    }

    .formulario-compra {
      width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      .campo-formulario {
        width: 400px;

        .campo-entrada {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 12px 0;
          background-color: $color-blanco;
          border-radius: $radius-s;
          border: 2px solid $color-calipso;

          i {
            font-size: 24px;
            margin: 0 10px;
          }

          input {
            width: 400px;
            height: 38px;
            margin-right: 10px;
            padding: 0 10px;
            border: none;
            outline: none;
            color: $color-negro;
            background-color: transparent;

            &::placeholder {
              color: $color-calipso;
              font-size: $light;
            }

            &:autofill,
            &:autofill:hover,
            &:autofill:focus {
              background-color: transparent;
              color: inherit;
              border: none;
              transition: background-color 5000s ease-in-out 0s;
            }

          }
        }
      }
    }
  }

  .boton-confirmar {
    @include btn-link;
  }

  .boton-cancelar {
    @include btn-cancelar;
  }
}

.modal-compra-finalizada {
  border-radius: $radius-xl;

  .icono-sweet {
    font-size: 10px;
  }
}

.modal-carrito-vacio {
  border-radius: $radius-xl;

  .icono-sweet {
    font-size: 10px;
  }

  .boton-ok {
    @include btn-link;
  }
}