@media only screen and (max-width: 1400px) {

  /* Barra de navegación */
  nav {
    .cont-logo {
      width: 100px;

      img {
        width: 100%;
      }
    }

    .cont-carrito {
      width: 100px;

      a {
        .bi {
          font-size: 40px;
        }

        .contador-carrito {
          top: 8px;
          right: 10px;
        }
      }
    }
  }

  /* Producto principal */
  .cont-principal {
    .cont-producto {
      max-width: 900px;

      .cont-img {
        max-width: 450px;

        img {
          width: 100%;
          height: 400px;
        }
      }

      .cont-texto {
        max-width: 450px;

        h1 {
          font-size: 25px;
          margin-bottom: 15px;
        }

        p {
          font-size: $normal;
        }
      }
    }
  }

  /* Ofertas */
  .cont-ofertas {
    margin-top: 30px;
    margin-bottom: 30px;

    .cont-prod-oferta {
      gap: 30px;

      .cont-prod-img {
        @include tamaños (350px, 200px);
        padding: 0 30px;

        img {
          height: 150px;
        }

        div {
          h2 {
            font-size: $normal;
            font-weight: $extra-bold;
          }
        }
      }
    }
  }

  /* Productos */
  .cont-productos {
    .cont-productos-card {
      width: 900px;

      .productos-card {
        padding: 15px;
        margin-bottom: 10px;

        img {
          width: 100%;
          height: 200px;
          margin-bottom: 20px;
        }

        .productos-card-texto {
          h2 {
            font-size: $normal;
            width: 230px;
          }

          p {
            width: 250px;
          }
        }
      }
    }
  }

  /* Footer */
  .cont-footer {
    .cont-links {
      width: 900px;

      .cont-copy {
        width: 550px;

        .formulario-noticias {
          input {
            width: 350px;
          }
        }
      }
    }
  }

  /* Modales */
  .modal-carrito {
    .cont-carrito {
      margin-top: 95px;
      padding: 20px;
      width: 800px;
      max-height: 400px;

      .cont-cerrar-carrito h2 {
        font-size: $grande;
      }
    }
  }

  .modal-resume {
    margin-top: 95px;
    width: 800px;
    padding: 20px;
    max-height: 400px;

    .linea {
      margin-bottom: 10px;
    }

    .resumen {
      margin-bottom: 10px;
    }

    p {
      margin-top: 10px;
    }
  }

  .modal-formulario-envio {
    width: 800px;
    height: 500px;
    padding: 20px;

    .titulo-formulario-envio {
      font-size: $grande;
    }

    .formulario-envio {
      h3 {
        font-size: $grande;
        margin-bottom: 10px;
      }

      .formulario-compra {
        width: 700px;
        gap: 15px;

        .campo-formulario {
          width: 400px;

          .campo-entrada {
            padding: 0;

            input {
              height: 32px;
            }
          }
        }
      }
    }

    .boton-confirmar,
    .boton-cancelar {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 1199px) {

  /* Producto principal */
  .cont-principal {
    height: 590px;

    .cont-producto {
      .cont-img {
        max-width: 350px;

        img {
          width: 200px;
          height: auto;
        }
      }
    }
  }

  .cont-texto {
    width: 300px;
  }

  /* Ofertas */
  .cont-ofertas {
    margin-top: 30px;
    margin-bottom: 30px;

    .cont-prod-oferta {
      gap: 30px;

      .cont-prod-img {
        @include tamaños (300px, 180px);
        padding: 0 20px;

        img {
          height: 110px;
        }
      }
    }
  }

  /* Productos */
  .cont-productos {
    .cont-productos-card {
      width: 900px;
      justify-content: center;

      .productos-card {
        width: 800px;
        height: 300px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        margin-bottom: 0;

        img {
          width: auto;
          height: 200px;
          margin-bottom: 20px;
        }

        .productos-card-texto {
          display: flex;
          width: 300px;
          flex-grow: 0;

          h2,
          p {
            width: 100%;
            font-size: $normal;
          }
        }

        .productos-card-btn {
          padding-left: 20px;
          margin: 0;
          display: contents;
        }

        .productos-card-btn {
          button {
            @include btn-mas-info;
          }
        }
      }
    }
  }

  /* Modales */
  .modal-carrito {
    .cont-carrito {
      width: 800px;
      max-height: 500px;
    }
  }

  .modal-resume {
    width: 800px;
    max-height: 500px;
  }

  .modal-formulario-envio {
    width: 800px;
    height: 550px;
  }
}


@media only screen and (max-width: 900px) {
  nav {
    position: relative;

    .cont-logo {
      margin-left: 20px;

      img {
        width: 100px;
      }
    }

    .cont-menu {
      .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        gap: 10px;
        margin: 0;
        text-align: center;

        &.active {
          display: flex;
        }

        li {
          display: block;
        }
      }
    }

    .cont-carrito {
      margin-right: 20px;
      width: 49%;
      justify-content: space-between;

      a {
        position: relative;
        text-decoration: none;

        .bi {
          font-size: 30px;
          color: $color-negro;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .contador-carrito {
          position: absolute;
          top: 4px;
          right: 5px;
          display: flex;
          width: 20px;
          height: 20px;
          justify-content: center;
          align-items: center;
          color: $color-blanco;
          font-size: 14px;
          font-weight: $extra-bold;
        }
      }

      .menu-burguer {
        display: flex;
      }
    }
  }

  /* Producto principal */
  .cont-principal {
    height: 620px;
  }

  /* Ofertas */
  .cont-ofertas {
    .cont-prod-oferta {
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .cont-prod-img {
        @include tamaños (500px, 220px);
        padding: 0 20px;

        img {
          height: 200px;
          margin-left: 30px;
        }

        div {
          margin-right: 40px;
        }
      }
    }
  }

  /* Productos */
  .cont-productos {
    .cont-productos-card {
      justify-content: center;

      .productos-card {
        width: 700px;
        height: 300px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
        margin-bottom: 0;

        img {
          width: auto;
          height: 150px;
        }

        .productos-card-texto {
          width: 300px;
          padding: 0 30px;
          flex-grow: 0;

          h2,
          p {
            width: 100%;
          }
        }

        .productos-card-btn {
          button {
            @include btn-mas-info;
          }
        }
      }
    }
  }

  /* Modales */
  .modal-carrito {
    .cont-carrito {
      width: 700px;
      max-height: 800px;
    }
  }

  .modal-resume {
    width: 700px;
    max-height: 800px;
  }

  .modal-formulario-envio {
    width: 700px;
    height: 510px;
  }

  /* Footer */
  .cont-footer {
    .cont-links {
      width: 700px;

      .cont-copy {
        width: 460px;

        p {
          text-wrap: pretty;
        }

        .formulario-noticias {
          input {
            width: 300px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  /* Producto principal */
  .cont-principal {
    height: 400px;
    margin: 0;

    .cont-producto {
      .cont-img {
        width: 300px;

        img {
          height: 200px;
          width: auto;
          margin-left: 40px;
        }
      }

      .cont-texto {
        margin-right: 40px;

        h1 {
          text-align: center;
          font-size: $normal;
          margin-bottom: 10px;
        }

        p {
          font-size: $normal;
        }
      }
    }
  }

  /* Ofertas */
  .cont-ofertas {
    .cont-prod-oferta {
      gap: 20px;

      .cont-prod-img {
        @include tamaños (400px, 180px);
        padding: 0 20px;

        img {
          height: 120px;
          margin-left: 40px;
        }
      }
    }
  }

  /* Productos */
  .cont-productos {
    .cont-productos-card {
      justify-content: center;

      .productos-card {
        width: 600px;

        .productos-card-texto {
          height: auto;
        }
      }
    }
  }

  /* Modales */
  .modal-carrito {
    z-index: 2;

    .cont-carrito {
      margin-top: 0;
      width: 700px;
      max-height: 300px;
    }
  }

  .modal-resume {
    width: 700px;
    max-height: 500px;
    margin-top: 0;
  }

  /* Footer */
  .cont-footer {
    .cont-links {
      width: 680px;

      .cont-copy {
        width: 450px;

        p {
          text-wrap: pretty;
        }

        .formulario-noticias {
          input {
            width: 300px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {

  /* Producto principal */
  .cont-principal {
    height: 100vh;

    .cont-producto {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .cont-img {
        display: flex;
        justify-content: center;
        width: 100%;

        img {
          height: 300px;
          width: auto;
          margin-bottom: 50px;
          margin-left: 0;
          margin-right: 0;
        }
      }

      .cont-texto {
        margin: 0;

        h1 {
          text-align: center;
          font-size: $normal;
          margin-bottom: 10px;
        }

        p {
          font-size: $normal;
          margin: 10px 0;

          &:nth-of-type(2) {
            margin-bottom: 50px;
          }
        }
      }
    }
  }

  /* Ofertas */
  .cont-ofertas {
    .cont-prod-oferta {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .cont-prod-img {
        @include tamaños (330px, 150px);
        padding: 0 10px;

        img {
          height: 120px;
          margin-left: 15px;
        }

        div {
          margin-right: 15px;
        }
      }
    }
  }

  /* Productos */
  .cont-productos {

    .cont-productos-card {
      justify-content: center;

      .productos-card {
        display: flex;
        flex-direction: column;
        width: 330px;
        height: auto;

        img {
          width: auto;
          height: 150px;
        }

        .productos-card-texto {
          width: 300px;
          height: auto;
          padding: 0 30px;

          h2 {
            width: 100%;
          }

          p {
            width: 100%;
          }
        }

        .productos-card-btn {
          button {
            @include btn-mas-info;
          }
        }
      }
    }
  }

  .notificacion {
    border-radius: $radius-xl;

    .icono-sweet {
      font-size: 10px;
    }
  }

  /* Modales */
  .modal-carrito {
    flex-direction: column;
    z-index: 2;

    .cont-carrito {
      margin-top: 0;
      width: 380px;
      max-height: 600px;

      .tabla-carrito {
        display: block;

        thead {
          display: none;
        }

        .items-carrito {
          display: flex;
          flex-direction: column;
          gap: 20px;

          tr {
            display: block;
            border: 2px solid $color-calipso;
            padding: 10px;
            border-radius: $radius-m;
            background-color: $color-fondo;

            td {
              display: block;
              text-align: left;
              padding: 0;

              &.id-producto {
                display: none;
              }

              img {
                height: 50px;
                width: auto;
              }
            }
          }
        }
      }
    }
  }

  .modal-resume {
    width: 380px;
    max-height: 90vh;
    padding: 10px;

    .titulo {
      font-size: $grande;
      margin-bottom: 10px;
    }

    .linea {
      border-bottom: none;
      margin-bottom: 0;
    }

    .resumen {
      padding: 5px 0;
      margin-bottom: -2px;
      border-top: 2px solid $color-calipso;
      border-bottom: 2px solid $color-calipso;
    }

    p {
      margin-top: 20px;
    }
  }

  .modal-formulario-envio {
    width: 380px;
    height: auto;

    .formulario-envio {
      .formulario-compra {
        width: 100%;

        .campo-formulario {
          width: 330px;
        }
      }
    }
  }

  /* Footer */
  .cont-footer {
    height: auto;
    padding: 30px 20px;

    .cont-links {
      text-align: left;

      .cont-paginas {
        display: none;
      }

      .cont-copy {
        width: 100%;

        .formulario-noticias {
          margin-bottom: 50px;

          .cont-entrada {
            display: flex;

            i {
              display: none;
            }

            input {
              width: 250px;
            }
          }


        }
      }

      .cont-media {
        display: none;
      }
    }
  }
}