//Variables de color
$color-rosado: #F205B3;
$color-calipso: #41D9D9;
$color-blanco: #ffffff;
$color-negro: #000000;
$color-fondo: #f1f1f1;
$color-rojo: #ff0000;

//Variables de fuentes
$fuente: "Poppins", sans-serif;

//Variables de tamaño
$normal: 16px;
$mediano: 18px;
$grande: 20px;

//Variables de peso
$light: 300;
$regular: 400;
$bold: 700;
$extra-bold: 900;

//Variables de Radius
$radius-s: 5px;
$radius-m: 7px;
$radius-l: 10px;
$radius-xl: 20px;

//variable de sombriado
$sombra: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));